Tools/VisualStudioSDK/2008.V1/VisualStudioIntegration/Common/Schemas/SDMInstanceSpace.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="http://schemas.microsoft.com/SystemDefinitionModel/2005/1/InstanceSpace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/SystemDefinitionModel/2005/1/InstanceSpace" elementFormDefault="qualified" version="1.0" id="InstanceSpace">
	<!-- ===================================================================================================================== -->
	<!-- Instance Space root element -->
	<!-- ===================================================================================================================== -->
	<xs:element name="InstanceSpace" type="InstanceSpace"/>
	<xs:complexType name="InstanceSpace">
		<xs:sequence>
			<xs:element name="Import" type="InstanceSpaceImport" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SystemInstance" type="SystemInstance" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ===================================================================================================================== -->
	<!-- Import-->
	<!-- ===================================================================================================================== -->
	<xs:complexType name="InstanceSpaceImport">
		<xs:attribute name="Alias" type="SimpleName" use="required"/>
		<xs:attributeGroup ref="NamespaceIdentity"/>
	</xs:complexType>
	<!-- ===================================================================================================================== -->
	<!-- Identity-->
	<!-- ===================================================================================================================== -->
	<xs:attributeGroup name="NamespaceIdentity">
		<xs:attribute name="Name" type="Path" use="required"/>
		<xs:attribute name="Version" type="FourPartVersionType" use="optional"/>
		<xs:attribute name="PublicKey" type="PublicKeyType" use="optional"/>
		<xs:attribute name="PublicKeyToken" type="PublicKeyTokenType" use="optional"/>
		<xs:attribute name="Culture" type="CultureNeutral" use="optional"/>
		<xs:attribute name="Platform" type="Platform" use="optional"/>
	</xs:attributeGroup>
	<!-- ===================================================================================================================== -->
	<!-- Base type for instances -->
	<!-- ===================================================================================================================== -->
	<xs:complexType name="Instance">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="InstanceMember" type="InstanceMember"/>
		</xs:choice>
		<xs:attribute name="Definition" type="xs:string" use="required"/>
		<xs:attribute name="InstanceName" type="xs:string" use="required"/>
		<xs:attribute name="Revision" type="xs:int" use="required"/>
		<xs:attribute name="Proxy" type="xs:boolean" use="required"/>
	</xs:complexType>
	<!-- ===================================================================================================================== -->
	<!-- Base type for instances with guids -->
	<!-- ===================================================================================================================== -->
	<xs:complexType name="IdentifiableInstance">
		<xs:complexContent>
			<xs:extension base="Instance">
				<xs:attribute name="InstanceId" type="Guid" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ===================================================================================================================== -->
	<!-- Base type for references to instances with guids -->
	<!-- ===================================================================================================================== -->
	<xs:complexType name="InstanceReference">
		<xs:attribute name="InstanceName" type="xs:string" use="required"/>
		<xs:attribute name="InstanceId" type="Guid" use="required"/>
	</xs:complexType>
	<!-- ===================================================================================================================== -->
	<!-- Base type for members -->
	<!-- ===================================================================================================================== -->
	<xs:complexType name="InstanceMember">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ContainmentInstance" type="ContainmentInstance"/>
			<xs:element name="HostingInstance" type="HostingInstance"/>
			<xs:element name="ReferenceInstance" type="ReferenceInstance"/>
			<xs:element name="CommunicationInstance" type="CommunicationInstance"/>
			<xs:element name="DelegationInstance" type="DelegationInstance"/>
			<xs:element name="SystemInstance" type="SystemInstance"/>
			<xs:element name="EndpointInstance" type="EndpointInstance"/>
			<xs:element name="ResourceInstance" type="ResourceInstance"/>
			<xs:element name="SettingInstance" type="SettingInstance"/>
			<xs:element name="ConstraintInstance" type="ConstraintInstance"/>
			<xs:element name="FlowInstance" type="FlowInstance"/>
			<xs:element name="InstanceReference" type="InstanceReference"/>
		</xs:choice>
		<xs:attribute name="Definition" type="xs:string" use="required"/>
		<xs:attribute name="Name" type="xs:string" use="required"/>
	</xs:complexType>
	<!-- ===================================================================================================================== -->
	<!-- Relationships -->
	<!-- ===================================================================================================================== -->
	<xs:complexType name="RelationshipInstance">
		<xs:complexContent>
			<xs:extension base="IdentifiableInstance"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HostingInstance">
		<xs:complexContent>
			<xs:extension base="RelationshipInstance"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ContainmentInstance">
		<xs:complexContent>
			<xs:extension base="RelationshipInstance"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReferenceInstance">
		<xs:complexContent>
			<xs:extension base="RelationshipInstance"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CommunicationInstance">
		<xs:complexContent>
			<xs:extension base="RelationshipInstance"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DelegationInstance">
		<xs:complexContent>
			<xs:extension base="RelationshipInstance"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ===================================================================================================================== -->
	<!-- Flow and Constraint -->
	<!-- ===================================================================================================================== -->
	<xs:complexType name="FlowInstance">
		<xs:complexContent>
			<xs:extension base="Instance"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ConstraintInstance">
		<xs:complexContent>
			<xs:extension base="Instance"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ===================================================================================================================== -->
	<!-- Objects -->
	<!-- ===================================================================================================================== -->
	<xs:complexType name="ObjectInstance">
		<xs:complexContent>
			<xs:extension base="IdentifiableInstance">
				<xs:attribute name="Deployed" type="xs:boolean" use="optional"/>
				<xs:attribute name="OutOfSync" type="xs:boolean" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SystemInstance">
		<xs:complexContent>
			<xs:extension base="ObjectInstance"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResourceInstance">
		<xs:complexContent>
			<xs:extension base="ObjectInstance"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EndpointInstance">
		<xs:complexContent>
			<xs:extension base="ObjectInstance"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ===================================================================================================================== -->
	<!-- Settings -->
	<!-- ===================================================================================================================== -->
	<xs:complexType name="SettingInstance">
		<xs:complexContent>
			<xs:extension base="Instance">
				<xs:sequence>
					<xs:element name="Value" type="SettingInstanceValue" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Facet" type="SettingFacet" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attributeGroup ref="SettingAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SettingFacet">
		<xs:sequence>
			<xs:element name="Value" type="SettingInstanceValue" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="SettingAttributes"/>
		<xs:attribute name="Name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="SettingInstanceValue" mixed="true">
		<xs:sequence>
			<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Null" type="xs:boolean" use="optional"/>
	</xs:complexType>
	<xs:attributeGroup name="SettingAttributes">
		<xs:attribute name="State" type="SettingState" use="optional"/>
		<xs:attribute name="Fixed" type="xs:boolean" use="optional"/>
		<xs:attribute name="List" type="xs:boolean" use="optional"/>
		<xs:attribute name="Null" type="xs:boolean" use="optional"/>
		<xs:attribute name="Secure" type="xs:boolean" use="optional"/>
		<xs:attribute name="FailedToSerialize" type="xs:boolean" use="optional"/>
	</xs:attributeGroup>
	<!-- ===================================================================================================================== -->
	<!-- Types-->
	<!-- ===================================================================================================================== -->
	<xs:simpleType name="Guid">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleName">
		<xs:restriction base="xs:string">
			<xs:pattern value="[_\p{Ll}\p{Lu}\p{Lt}\p{Lm}\p{Lo}\p{Nl}]{1}[_\w\p{Lm}\p{Nl}\p{Cf}\p{Mn}\p{Mc}]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Path">
		<xs:restriction base="xs:string">
			<xs:pattern value="[_\p{Ll}\p{Lu}\p{Lt}\p{Lm}\p{Lo}\p{Nl}]{1}[_\w\p{Lm}\p{Nl}\p{Cf}\p{Mn}\p{Mc}]*(\.[_\p{Ll}\p{Lu}\p{Lt}\p{Lm}\p{Lo}\p{Nl}]{1}[_\w\p{Lm}\p{Nl}\p{Cf}\p{Mn}\p{Mc}]*)*"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- simple version number -->
	<xs:simpleType name="FourPartVersionType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{1,4}|[0-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])(\.([0-9]{1,4}|[0-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])){3}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- public key for verifying signed docs -->
	<xs:simpleType name="PublicKeyType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]|[a-f]|[A-F]){192,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PublicKeyTokenType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]|[a-f]|[A-F]){16}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- culture string -->
	<xs:simpleType name="Culture">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-z]{2}((-[A-Z]{2})?|(-[A-Z]{3})?)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CultureNeutral">
		<xs:union memberTypes="Culture">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="neutral"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="SettingState">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Set"/>
			<xs:enumeration value="NotSet"/>
			<xs:enumeration value="Error"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProcessorArchitectures">
		<xs:restriction base="xs:string">
			<xs:enumeration value="x86"/>
			<xs:enumeration value="ia64"/>
			<xs:enumeration value="amd64"/>
			<xs:enumeration value="wow64"/>
			<xs:enumeration value="msil"/>
			<xs:enumeration value="shx"/>
			<xs:enumeration value="arm"/>
			<xs:enumeration value="data"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Platform">
		<xs:union memberTypes="ProcessorArchitectures">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="*"/>
					<xs:enumeration value="neutral"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
</xs:schema>
